$primary-color: #1dc896;

@mixin flexAling($hor: center, $ver: center, $dir: row) {
    display: flex;
    justify-content: $hor;
    align-items: $ver;
    flex-direction: $dir;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 555px;
    background: #33a586;
    @include flexAling();

    @media screen and (max-width: 992px) {
        height: 100%;
        display: block;
    }

    &__nav {
        margin-right: 40px;

        @media screen and (max-width: 992px) {
            margin-right: 0;
        }
    }

    &__content {
        @include flexAling(space-between, flex-start);
        height: 100%;

        @media screen and (max-width: 992px) {
            width: 100%;
            @include flexAling(flex-start ,center , column)
        }

        .nav {
            width: 230px;
            height: 455px;
            clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
            background: #ffffff;

            @media screen and (max-width: 992px) {
                    @include flexAling(space-between);
                    width: 100%;
                    height: 125px;
                    clip-path: none;
                    background: #ffffff;
                    padding: 0 15px;
                    box-sizing: border-box;
            }

            @media screen and (max-width: 768px) {
                @include flexAling($hor: space-between, $dir: row-reverse);
                    width: 100%;
                    height: 95px;
                    clip-path: none;
                    background: #ffffff;
                    padding: 0 15px;
                    box-sizing: border-box;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 2;
            }

            &__logo {
                width: 100%;
                height: 125px;
                border-bottom: 1px solid #e5e5e5;
                @include flexAling();

                @media screen and (max-width: 992px) {
                    border-bottom: none;
                    width: 134px;
                    height: 0;
                }
            }

            #opener {
                display: none;
            }

            #opener:checked ~ .dropmenu {
                height: 30vh;

                @media screen and (max-width: 576px) {
                    height: 60vh;
                }
            }

            #opener:checked ~ .dropmenu > .dropmenu__item {
                opacity: 1;
            }

            .button {
                width: 45px;
                height: 45px;
                border: 2px solid #a7a7a7;
                border-radius: 6px;
                box-sizing: border-box;
                display: none;

                @media screen and (max-width: 768px) {
                    @include flexAling();
                }
                

                &__line {
                    width: 30px;
                    height: 2px;
                    background: #a7a7a7;
                    position: relative;

                    &::after {
                        content: "";
                        width: 30px;
                        height: 2px;
                        background: #a7a7a7;
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                    }

                    &::before {
                        content: "";
                        width: 30px;
                        height: 2px;
                        background: #a7a7a7;
                        position: absolute;
                        top: -8px;
                        left: 0;
                    }
                }
            }

            .dropmenu {
                @media screen and (min-width: 769px) {
                    display: none;
                }

                @include flexAling($dir: column);
                height: 0;
                position: fixed;
                z-index: 1;
                width: 100%;
                top: 95px;
                left: 0;
                background: #ffffff;
                transition: 1s;
                overflow: hidden;

                &__item {
                    text-decoration: none;
                    color: #a7a7a7;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 45px;
                    text-transform: capitalize;
                    opacity: 0;
                    transition: 2s;
                    position: relative;
                    z-index: 1;

                    .smallLatter {
                        text-transform: none;
                    }
                }
            }

            &__links {
                width: 100%;
                @include flexAling(flex-start, flex-start, column);
                padding: 20px 0 0 45px;
                box-sizing: border-box;

                @media screen and (max-width: 992px) {
                    width: 80%;
                    @include flexAling(space-between, center, row);
                    padding: 0;
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }

                &-item {
                    text-decoration: none;
                    color: #a7a7a7;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 37.8px;
                    text-transform: capitalize;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }

                    .smallLatter {
                        text-transform: none;
                    }
                }
            }
        }

        .banner {
            width: 647px;
            height: 100%;
            @include flexAling($hor: space-between, $dir: column);
            padding: 125px 0 35px;
            box-sizing: border-box;

            @media screen and (max-width: 992px) {
                height: 550px;
                padding: 125px 15px 35px;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 80px + 95px 15px 35px;
            }

            &__links {
                width: 425px;
                @include flexAling(space-between);

                @media screen and (max-width: 576px) {
                    width: 100%;
                }

                &-item {
                    display: block;

                    @media screen and (max-width: 576px) {
                        width: 70%;
                        @include flexAling();
                    }
                    
                }

                &-item img{
                    display: block;

                    @media screen and (max-width: 576px) {
                        width: 70%;
                    }
                    
                }
            }

            &__text {
                text-align: center;
                color: #ffffff;
                font-size: 22px;
                font-weight: 300;
                line-height: 28.8px;
            }

            &__link {
                width: 190px;
                height: 52px;
                @include flexAling();
                border: 2px solid #ffffff;
                border-radius: 5px;
                box-sizing: border-box;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 400;
                line-height: 28.8px;
                color: white;
                
            }

            &__dots {
                width: 93px;
                @include flexAling(space-between);

                &-item {
                    width: 10px;
                    height: 10px;
                    background-color: #ffffff;
                    border-radius: 50%;

                    &_active {
                        background: #008170;
                    }
                }
            }
        }
    }
}

.main {
    width: 100%;

    .marketing {
        width: 100%;
        height: 125px;
        background: #f4f4f4;
        @include flexAling();

        @media screen and (max-width: 992px) {
            height: 100%;
        }

        &__content {
            width: 1024px;
            padding: 0 20px;
            box-sizing: border-box;
            @include flexAling(space-between);

            @media screen and (max-width: 992px) {
                padding: 15px 15px;
                flex-wrap: wrap;
            }

        }

        &__img {
            @include flexAling();

            @media screen and (max-width: 992px) {
                width: 50%;
                margin-bottom: 15px;
            }

            @media screen and (max-width: 576px) {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    .content {
        width: 100%;
        @include flexAling();
        padding: 60px 0 50px;
        box-sizing: border-box;

        @media screen and (max-width: 992px) {
            padding: 60px 15px 50px;
        }

        @media screen and (max-width: 768px) {
            padding: 20px 15px 15px;
        }


        &__container {
            width: 1024px;
            @include flexAling($dir: column);

            @media screen and (max-width: 992px) {
                width: 100%;
            }

        }

        &__title {
            width: 641px;
            color: #797979;
            font-size: 30px;
            font-weight: 300;
            line-height: 49px;
            text-align: center;
            margin-bottom: 35px;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            @media screen and (max-width: 576px) {
                font-size: 27px;
                font-weight: 300;
                line-height: 44px;
            }
        }

        &__text {
            width: 853px;
            color: #8d8d8d;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 45px;

            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }

        &__button {
            width: 167px;
            height: 45px;
            background: $primary-color;
            border-radius: 4px;
            border: none;
            outline: none;
            @include flexAling();
            font-size: 24px;
            font-weight: 300;
            color: white;
            cursor: pointer;
        }
    }

    .updates {
        width: 100%;
        @include flexAling();
        background: $primary-color;
        padding: 55px 0 60px;
        box-sizing: border-box;

        @media screen and (max-width: 992px) {
            padding: 25px 0 30px;
        }

        &__container {
            width: 1024px;
            @include flexAling(space-around);
            color: white;
            position: relative;
            left: 0;
            top: 0;

            @media screen and (max-width: 992px) {
                width: 100%;
                @include flexAling($dir: column);
                padding: 0 15px;
                box-sizing: border-box;
            }
        }

        &__content {
            &:first-child {
                @media screen and (max-width: 992px) {
                    margin-bottom: 40px;
                }
            }
        }

        

        &__title {
            width: 380px;
            font-size: 24px;
            font-weight: 300;
            line-height: 34px;
            margin-bottom: 20px;

            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }

        &__text {
            width: 380px;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;

            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }
    }

    .map {
        width: 100%;
    }

    .addres {
        



        
            width: 324px;
            height: 247px;
            background-color: gray;
            clip-path: polygon(0 0, 100% 0, 100% 73%, 90% 73%, 75% 100%, 80% 73%, 0 73%);
            position: absolute;
            left: 40px;
            bottom: -540px;
            color: #8d8d8d;
            padding: 20px 40px 90px 26px;
            box-sizing: border-box;

        &::before {
            content: '';
            width: 322px;
            height: 244px;
            background-color: white;
            clip-path: polygon(0 0, 100% 0, 100% 73%, 90% 73%, 75% 100%, 80% 73%, 0 73%);
            position: absolute;
            left: 1px;
            bottom: 2px;
            z-index: -1;
        }


        @media screen and (max-width: 992px) {
            display: none;
        }

        &__title {
            width: 100%;
            font-size: 30px;
            text-align: left;
            margin-bottom: 20px;
        }

        &__text {
            width: 100%;
            font-size: 14px;
            text-align: left;
        }
    }

    .register-form {
        width: 100%;
        background-color: #ffffff;
        @include flexAling($hor: flex-start, $ver: flex-end, $dir: column);
        padding: 30px 43px 30px 34px;
        box-sizing: border-box;
        display: none;

        @media screen and (max-width: 992px) {
            display: flex;
        }

        &_island {
            width: 422px;
            height: 430px;
            background-color: #ffffff;
            @include flexAling($hor: flex-start, $ver: flex-end, $dir: column);
            padding: 30px 43px 70px 34px;
            box-sizing: border-box;
            border-top: 10px solid #38e2b0;
            border-radius: 5px;
            position: absolute;
            right: 40px;
            bottom: -560px;
            box-shadow: 0 0 5px 1px grey;

            @media screen and (max-width: 992px) {
                display: none;
            }
        }
        

        &__title {
            width: 100%;
            color: #797979;
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 25px;
            text-align: left;
        }

        &__name, &__email, &__phone, &__message {
            width: 100%;
            height: 30px;
            border: 1px solid #d8d8d8;
            margin-bottom: 15px;
            padding: 0 16px;
            box-sizing: border-box;
            opacity: 0.5;
            color: #4c505d;
            font-size: 14px;
            font-weight: 400;
        }

        &__phone {
            margin-bottom: 20px;
        }

        &__message {
            height: 80px;
            padding: 13px 16px;
            margin-bottom: 25px;
        }

        &__button {
            width: 126px;
            height: 34px;
            background: $primary-color;
            color: white;
            font-size: 18px;
            @include flexAling();
            border: none;
            outline: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}